<div class="book-editor">
        <h3>{{if (gt @model.id 0) 'Update' 'Add'}} a Book </h3>
        <div class="top-input">
                Title <Input @type="text" @value={{mut @model.title}} />
                Author: <Input @type="text" @value={{@model.author}} />
        </div>
        <div class="bottom-input">
                Genre <Input @type="text" @value={{@model.genre}} />
                Count: <Input @type="text" @value={{@model.count}} />
        </div>

        <div style="margin-top: 30px">
                <button class="create-btn" {{on "click" this.setBook}}>{{if (gt @model.id 0)'Update' 'Add'}} Book</button>
        </div>


        {{!-- {{#if (eq @content 'Add')}}
        <button type="button" {{on "click" this.addBook}}>{{@content}} Book</button>
        {{else}}
        <button type="button" {{on "click" this.updateBook}}>{{@content}} Book</button>
        {{/if}} --}}


</div>