<h1 class="sub-header">{{this.updateBookTitle}}</h1>
  <div class="form-container">
    <Input 
      @type="text"
      @value={{mut @model.title}}
      @class="input-field" 
      @id="titleInput" 
      placeholder="Title"
    /> 
    <Input 
      @type="text" 
      @value={{mut @model.author}}  
      @class="input-field" 
      @id="authorInput" 
      placeholder="Author"
    />
    <Input 
      @type="text" 
      @value={{mut @model.genre}}
      @class="input-field" 
      @id="genreInput" 
      placeholder="Genre"
    />
    <Input 
      @type="number" 
      @value={{mut @model.count}}  
      @id="countInput" 
      placeholder="Count"
    />
    <button 
      type="submit" 
      {{on "click" this.updateBook}}
    >
      Update
    </button>
    <button 
      type="cancel" 
      {{on "click" this.cancel}}
    >
      Cancel
    </button>
</div>