{{! template-lint-disable no-invalid-interactive }}
<div
  ...attributes
  class="modal fade"
  role="dialog"
  aria-modal="true"
  id={{this.modalId}}
  data-keyboard="false"
  {{on "click" this.considerCancelClick}}
>
  {{! template-lint-enable no-invalid-interactive }}
  <div
    class="modal-dialog
      {{if this.largeModal "modal-lg"}}
      {{if @modalSize (concat "modal-" @modalSize)}}"
    role="document"
  >
    <div
      class="modal-content
        {{if this.shadow "shadow"}}
        {{if this.isDanger "danger-modal"}}"
    >
      {{#unless @hideHeader}}
        <div class="modal-header">
          <span class="modal-title {{if this.draggableModal "hover-pointer"}}">
            {{#if this.draggableModal}}
              <span class="fe fe-move"></span>
            {{/if}}
            {{this.title}}
          </span>
          <span class="svg-icon times"></span>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            disabled={{this.disableModalClose}}
            {{action "cancelClick"}}
          >
            <span aria-hidden={{"true"}}>
              &times;
            </span>
          </button>
        </div>
      {{/unless}}
      <div class="modal-body">
        {{#if this.visible}}
          {{yield}}
        {{/if}}
      </div>
      <div class="modal-footer {{if this.isDanger "text-center"}}">
        {{#if (has-block "delete-button")}}
          {{yield to="delete-button"}}
        {{/if}}
        {{#if (has-block "cancel-button")}}
          {{yield to="cancel-button"}}
        {{else}}
          {{#unless this.noBackBtn}}
            <button
              type="button"
              class="btn btn-outline-secondary"
              data-dismiss="modal"
              disabled={{or this.disableModalClose this.btnLoading}}
              {{on "click" (action "cancelClick")}}
            >
              {{if this.cancelTextOverride this.cancelTextOverride (t "back")}}
            </button>
          {{/unless}}
        {{/if}}
        {{#if (has-block "primary-button")}}
          {{yield to="primary-button"}}
        {{else}}
          {{#if this.btnText}}
            {{#unless (or this.btnLoading this.imageUploadInProgress)}}
              <button
                type="button"
                class={{concat "btn " this.btn}}
                {{action "btnClick"}}
              >
                <span class={{concat "fa " this.icon}}></span>
                {{this.btnText}}
              </button>
            {{else}}
              <button
                type="button"
                class={{concat "btn " this.btn}}
                disabled="disabled"
              >
                <span class="fa fa-spin fa-spinner"></span>
                please_wait
              </button>
            {{/unless}}
          {{/if}}
        {{/if}}

        {{#if this.btn2Text}}
          {{#unless (or this.btn2Loading this.imageUploadInProgress)}}
            <button
              type="button"
              class={{concat "btn " this.btn2}}
              {{action "btn2Click"}}
            >
              <span class={{concat "fa " this.icon2}}></span>
              {{this.btn2Text}}
            </button>
          {{else}}
            <button
              type="button"
              class={{concat "btn " this.btn2}}
              disabled="disabled"
            >
              <span class="fa fa-spin fa-spinner"></span>
              "please_wait"
            </button>
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>
</div>