<BsModal
  @modalId="menulistModal"
  @title="menulist"
  @btn="btn-primary"
  @icon="fa-plus"
  @btnText={{if
    (or (eq this.menulist.corporateId 0) this.auth.userTypeIsDirector)
    this.btnText
  }}
  @btnClick="saveMenulist"
  @cancelClick="cancelMenulist"
>
  <ErrorDisplay @model={{this.menulist}} />

  {{#unless (or (eq this.menulist.corporateId 0) this.auth.userTypeIsDirector)}}
    <div class="alert alert-info">
      "menulists.corporate.msg"
    </div>
  {{/unless}}

  <FormFields>
    <FormGroup @label="menulists.name" @autoAddLabelClass={{true}}>
      <InputText @value={{this.menulist.name}} />
    </FormGroup>

    <FormGroup @label="description" @autoAddLabelClass={{true}}>
      <InputText @value={{this.menulist.description}} />
    </FormGroup>

    <FormGroup @label="costpcnt" @autoAddLabelClass={{true}}>
      <InputNumber @places={{2}} @value={{this.menulist.costPcnt}} />
    </FormGroup>

    {{#if this.auth.userTypeIsDirector}}
      <FormGroup @label="market" @autoAddLabelClass={{true}}>
        {{#if this.menulist.isNew}}
          <InputSelect @value={{this.menulist.marketId}}>
            <option selected={{eq this.menulist.marketId 0}} value="0">
              "markets.select"
            </option>
            {{#each this.markets as |market|}}
              <option
                selected={{eq this.menulist.marketId market.id}}
                value={{market.id}}
              >
                {{market.marketName}}
              </option>
            {{/each}}
          </InputSelect>
        {{else}}
          {{this.menulist.marketRecord.marketName}}
        {{/if}}
      </FormGroup>
    {{/if}}
  </FormFields>
</BsModal>