{{!-- template-lint-disable  --}}
{{#if @tagLess}}
  {{#if @isButton}}
    <button
      tabindex
      class={{@extraClass}}
      type="button"
      {{action "triggerModal" bubbles=this.bubble}}
    >
      {{yield}}
    </button>
  {{else}}
    {{#if (has-block)}}
      <a
        tabindex
        class={{this.linkClass}}
        {{action this.triggerModal bubbles=this.bubble}}
      >
        {{yield}}
      </a>
    {{else}}
      {{#if @link}}
        <a
          tabindex
          class={{@linkClass}}
          {{action this.triggerModal bubbles=this.bubble}}
        >
          {{#if @icon}}
            <span class={{concat "fa " @icon}}></span>
          {{/if}}
          {{@text}}
        </a>
      {{else}}
        <a
          tabindex
          class={{if @btn (concat "btn " @btn)}}
          {{action this.triggerModal bubbles=this.bubble}}
        >
          {{#if @icon}}
            <span class={{concat "fa " @icon}}></span>
          {{/if}}
          {{@text}}
        </a>
      {{/if}}
    {{/if}}
  {{/if}}
{{else}}
  <span ...attributes class={{@class}}>
    {{#if @isButton}}
      <button
        tabindex
        class={{@extraClass}}
        type="button"
        {{action "triggerModal" bubbles=this.bubble}}
      >
        {{yield}}
      </button>
    {{else}}
      {{#if (has-block)}}
        <a
          tabindex
          class={{this.linkClass}}
          {{action this.triggerModal bubbles=this.bubble}}
        >
          {{yield}}
        </a>
      {{else}}
        {{#if @link}}
          <a
            tabindex
            class={{@linkClass}}
            {{action this.triggerModal bubbles=this.bubble}}
          >
            {{#if @icon}}
              <span class={{concat "fa " @icon}}></span>
            {{/if}}
            {{@text}}
          </a>
        {{else}}
          <a
            tabindex
            class={{if @btn (concat "btn " @btn)}}
            {{action this.triggerModal bubbles=this.bubble}}
          >
            {{#if @icon}}
              <span class={{concat "fa " @icon}}></span>
            {{/if}}
            {{@text}}
            {{#if @badge}}
              <span class="badge badge-secondary">
                {{@badge}}
              </span>
            {{/if}}
          </a>
        {{/if}}
      {{/if}}
    {{/if}}
  </span>
{{/if}}