<tr>
    <td>{{@book.title}}</td>
    <td>{{@book.author}}</td>
    <td>{{@book.genre}}</td>
    <td>{{@book.count}}</td>

    <td>
        <LinkTo class="update-btn" @route="book" @model={{@book.id}} reload=true>Update</LinkTo>
    </td>
    <td>
        <button class="delete-btn" {{on "click" this.showModal}}>Delete</button>
    </td>
</tr>

{{#if this.deleteModal}}
  <ConfirmModal
    @title="Confirm Delete"
    @message="Are you sure you want to delete this item?"
    @onConfirm={{fn this.deleteBook}}
    @onCancel={{fn this.hideModal}}
  />
{{/if}}