<tr>
    <td>{{@book.title}}</td>
    <td>{{@book.author}}</td>
    <td>{{@book.genre}}</td>
    <td>{{@book.count}}</td>

    <td class="extra-columns">
        <LinkTo class="update-btn" @route="book" @model={{@book.id}} >Update</LinkTo>
    </td>
    <td class="extra-columns">
        <button class="delete-btn" {{on "click" this.deleteBook}}>Delete</button>
    </td>
</tr>