<div
  class="table-responsive
    {{unless this.noScroll this.table-scroll-container}}
    {{this.tableContainerClass}}"
>
  {{#unless this.notSticky}}
    <table class={{concat "table table-sm table-sticky " this.tableClass}}>
      {{yield}}
    </table>
  {{else}}
    <table class={{concat "table table-sm " this.tableClass}}>
      {{yield}}
    </table>
  {{/unless}}
</div>