
{{!-- menulist-list.hbs --}}

{{log this.model}}

{{#each this.model as |book|}}
  {{book.id}}
{{/each}}

{{#unless this.menulists.length}}
  <JumboMessage
    @title="menulists.none.found"
    @subtitle="menulists.subtitle"
  >
    <p>
      "menulists.instructions"
    </p>
    {{!-- <ModalTrigger
      @onTrigger={{action-to-migrate "setupNewMenuList" this}}
      @modalId={{"menulistModal"}}
      @text="menulists.new"
      @btn={{"btn-primary"}}
      @icon={{"fa-plus"}}
    /> --}}
  </JumboMessage>
{{else}}
  <PageBox
    @title="menulists.title"
    @tableContainer={{true}}
    @btn={{component
      "modal-trigger"
      onTrigger=(action "setupNewMenuList")
      modalId="menulistModal"
      text="menulists.new"
      btn="btn-primary"
      icon="fa-plus"
    }}
    @pageTipId="menulist"
  >
    <StickyTable>
      <SortableThead @tableId={{this.tableId}} as |Th|>
        <th></th>
        <Th @key="name">
          "menulist"
        </Th>
        <Th @key="description">
          "description"
        </Th>
        <Th class="text-center" @type="number" @key="recipeCount">
          "recipes.title"
        </Th>

        {{#if this.auth.userTypeIsDirector}}
          <Th @type="alphanum" @key="marketRecord.tagName">
            "market"
          </Th>
        {{/if}}
        <Th class="text-right" @key="costPcnt" @type="number">
          "costpcnt"
        </Th>
      </SortableThead>
      <tbody>
        {{#each this.sortedData as |menulist index|}}
          <tr class="no-pointer {{if menulist.isDeleted "hidden"}}">
            <td>
              {{plus-one index}}
              {{#if
                (or this.auth.userTypeIsDirector (eq menulist.corporateId 0))
              }}
                {{#if (gt this.sortedData.length 1)}}
                  {{!-- <ModalTrigger
                    @onTrigger={{action "setMenuList" menulist}}
                    @modalId={{"menulistDeleteModal"}}
                    @link={{true}}
                    @icon={{"fa-trash"}}
                  /> --}}
                {{/if}}
              {{/if}}
            </td>
            <td>
              {{#if
                (and this.auth.userTypeIsBuyer (eq menulist.corporateId 0))
              }}
                <ModalTrigger
                  @onTrigger={{action "setMenuList" menulist}}
                  @modalId={{"menulistModal"}}
                  @text={{menulist.name}}
                  @link={{true}}
                />
              {{else}}
                {{#if this.auth.userTypeIsBuyer}}
                  {{menulist.name}}
                {{else}}
                  <ModalTrigger
                    @onTrigger={{action "setMenuList" menulist}}
                    @modalId={{"menulistModal"}}
                    @text={{menulist.name}}
                    @link={{true}}
                  />
                {{/if}}
              {{/if}}
            </td>
            <td>
              {{menulist.description}}
            </td>
            <td class="text-center">
              {{#if this.auth.userTypeIsBuyer}}
                <LinkTo @route="buyer.recipes.menulist" @model={{menulist.id}}>
                  {{menulist.recipeCount}}
                </LinkTo>
              {{/if}}
              {{#if this.auth.userTypeIsDirector}}
                <LinkTo
                  @route="director.recipes.menulist"
                  @model={{menulist.id}}
                >
                  {{menulist.recipeCount}}
                </LinkTo>
              {{/if}}
            </td>
            {{#if this.auth.userTypeIsDirector}}
              <td>
                <span
                  class="badge"
                  style={{background-color menulist.marketRecord.tagColor}}
                >
                  {{menulist.marketRecord.tagName}}
                </span>
              </td>
            {{/if}}
            <td class="text-right">
              {{menulist.costPcnt}}%
            </td>
          </tr>
        {{/each}}
      </tbody>
    </StickyTable>
  </PageBox>
{{/unless}}

<MenulistModal @menulist={{this.menulist}} @markets={{this.markets}} />
{{!-- <MenulistDeleteModal
  @menulist={{this.menulist}}
  @menulists={{this.menulists}}
  @replacementId={{this.replacementId}}
/> --}}