  <PageBox>
    <StickyTable @tableClass="table-striped table-hover">
        <th>
          id
        </th>
        <th>
          title
        </th>
        <th>
          author
        </th>
        <th>
          genre
        </th>
        <th>
          count
        </th>
      <tbody>
        {{#each this.model as |book|}}
          <tr>
            {{!-- <td>
               <LinkTo @route="index"><h1 class="header">Book Store</h1></LinkTo> 
            </td> --}}
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.count}}</td>
          </tr>
        {{/each}}
      </tbody>
    </StickyTable>
  </PageBox>

<div>
  Number of books: {{this.numberOfBooks}}
  <button {{on "click" this.logNumberOfBooks}}>Log number of books</button>
</div>

