{{!-- The index.hbs template is teh home page, that is http://localhost:4200/
This page gets loaded at the beggining when we go to, http://localhost:4200/
We don't need to add any route in the router.js file to define this page.
So this page is the home page or landing page.
Here in our app, the table and update, delete button are displayed from this page. --}}

<button class="add-btn" {{on "click" this.showModal}}>Add Book</button>

{{#if this.model.length}}
  <table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Count</th>
        <th></th>
        <th></th>
    </tr>
    {{#each this.model as |book|}}
      <Row @book={{book}} @model={{this.model}} />
    {{/each}}
</table>
{{else}}
  <div class="message">
    This app is using H2 database.<br>
    Start by adding some book.
  </div>
{{/if}}

{{#if this.addModal}}
  <AddBookModal
    @title="Add Book"
    @message="Start adding your book here"
    @onSave={{fn this.addBook}}
    @onCancel={{fn this.hideModal}}
  />
{{/if}}

{{!-- We are calling a component called Row, which renders each row of the book.
To that Row component we are passing each book, and the this.model. --}}