  <PageBox>
    <StickyTable @tableClass="table-striped table-hover">
      <thead>
        <th>
          id
        </th>
        <th>
          title
        </th>
        <th>
          author
        </th>
        <th>
          genre
        </th>
        <th>
          count
        </th>
      </thead>
      <tbody>
        {{#each this.model as |book|}}
          <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.count}}</td>
          </tr>
        {{/each}}
      </tbody>
    </StickyTable>
  </PageBox>

<div>
  Number of books: {{numberOfBooks}}
  <button {{action "logNumberOfBooks"}}>Log number of books</button>
</div>

